<div class="container">
  <div class="col">
    <h1>{{ title }}</h1>
  </div>

  <form action="" class="form-group row">

    <div class="form-group col-md-3 text-center">
 
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre">

    </div>
    <div class="form-group col-md-3 text-center">

      <label for="apellido">Apellido:</label>
      <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="cuadroApellido">

    </div>

    <div class="form-group col-md-3 text-center">

      <label for="Cargo">Cargo:</label>
      <input type="text" name="cargo" id="cargo" placeholder="Cargo" class="form-control" [(ngModel)]="cuadroCargo">

    </div>  
    <div class="col"><button type="submit" class="btn btn-primary mt-2" (click)="agregar()">Enviar</button></div>

  </form>
</div>

<br>
<div class="container">
  <h1>Lista</h1>
  <br>

</div>
<br>
<div class="container">
  <p *ngIf="registro; else sinRegistro">
    {{mensaje}} con el nombre de {{cuadroNombre}} {{cuadroApellido}} y el cargo de  <span [ngClass   ]="{cargo1:cuadroCargo=='cargo1'}">  {{cuadroCargo}} </span>
  </p>
  <div class="row">
    <div class="col">
      <div *ngFor="let empleado of empleados;let i=index">
          Dato empleado
          {{i+1}} {{empleado.nombre}} {{empleado.apellido}} {{empleado.cargo}}
      </div>
    </div>
  </div>
</div> 

<ng-template #sinRegistro>
  <p>No hay registros nuevos . . .</p>
</ng-template>